.h-content {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.h-c-list {
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}
.h-c-list:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.pop-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
}
.pop {
  position: fixed;
  z-index: 26;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 5px;
  height: 80vh;
  overflow: auto;
  background-color: white;
  padding: 20px;
}
.pop p {
  text-align: justify;
}
